@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fredoka:wght@300;400&family=Rock+Salt&family=Unica+One&display=swap");
html {
  padding: 0;
  margin: 0;
}
html body {
  background-image: url(../images/backgroundMain.svg);
  background-attachment: fixed;
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
}

header .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}
header .navbar-light .navbar-toggler {
  border: 2px solid black;
}
header nav {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}
header nav #logo {
  cursor: pointer;
  max-height: 70px;
}
header nav #logoNombre {
  color: black;
  text-shadow: 0 0 15px white, 0 0 10px white, 0 0 5px white;
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
}
header nav .btn-lg {
  text-transform: uppercase;
  font-weight: 600;
  background-color: #979797;
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 2px;
  max-width: 180px;
}
header nav .active {
  background-color: #555555;
  color: white;
}
header nav .nav-item {
  margin-left: auto;
}

main {
  margin-bottom: 5rem;
}
main #busquedas {
  display: none;
}
main #busquedas input {
  max-width: 50vw;
  border: 2px solid #000000;
}
main #busquedas input[type=number] {
  -moz-appearance: textfield;
}
main #busquedas input::-webkit-outer-spin-button,
main #busquedas input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main #busquedas .form-floating {
  display: none;
}
main #busquedas .form-floating label {
  top: auto;
  left: auto;
}
main #busquedas .btn {
  text-transform: uppercase;
}
main #btnUp {
  position: fixed;
  bottom: 100px;
  right: 50px;
  display: none;
}
main #contenedor #landingImage {
  max-width: 80vw;
  max-height: 500px;
  border-radius: 50px;
}
main #contenedor .card {
  list-style-type: none;
  background-image: url(../images/bkgCard.png);
  background-attachment: local;
  background-size: cover;
  margin: 0.5rem;
  border: 2px solid #000000;
  border-radius: 20px;
  min-width: 160px;
  max-width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
main #contenedor .card .titulo {
  font-family: "Fredoka", sans-serif;
  display: flex;
  color: black;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 25px white, -2px 0 10px white, -2px 0 15px white, -2px 0 20px white, -2px 0 25px white, 2px 0 10px white, 2px 0 15px white, 2px 0 20px white, 2px 0 25px white;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px;
  height: 80px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
main #contenedor .card .contenedorImagen {
  max-width: 175px;
}
main #contenedor .card #contenedorInformacion #informacion {
  max-width: 175px;
}
main #contenedor .card #contenedorInformacion .info {
  font-size: 0.8rem;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 25px white, -2px 0 10px white, -2px 0 15px white, -2px 0 20px white, -2px 0 25px white, 2px 0 10px white, 2px 0 15px white, 2px 0 20px white, 2px 0 25px white;
  font-weight: 600;
}
main #contenedor .card #contenedorInformacion #btnsInformacion {
  display: block;
}
main #contenedor .card #contenedorInformacion #btnsInformacion .btn {
  width: 100%;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  color: black;
}
main #contenedor .card #contenedorInformacion #btnsInformacion .btn-danger {
  display: none;
}
main #contenedor #calendario {
  margin-top: 5rem;
  margin-bottom: 10rem;
  max-width: 1200px;
  width: 80vw;
  max-height: 800px;
  height: 60vh;
  border: 2px solid black;
  border-radius: 2px;
}

footer {
  display: block;
  position: fixed;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: grey;
}

@media (max-width: 460px) {
  main #contenedor .card {
    max-width: 150px;
  }
  main #contenedor .card #contenedorInformacion {
    max-width: 140px;
  }
}
@media (max-width: 375px) {
  header nav #logoNombre {
    font-size: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */