@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Unica+One&display=swap");
@import "variables";
@import "estructura";

h1,
h2 {
	font-family: "Rock Salt", cursive;
	text-shadow: 0 0 15px white, 0 0 10px white, 0 0 5px white;
}

.btn-lg {
	text-transform: uppercase;
	font-weight: 600;
	background-color: $bkgBtn;
	border: 1px solid $borderCard;
}

#logo {
	width: 300px;
}

#busquedas {
	display: none;
	input {
		min-width: 300px;
		max-width: 50vw;
		border: 2px solid $borderCard;
	}
	.form-floating > label {
		top: auto;
		left: auto;
	}
}

#contenedor {
	#landingImage {
		width: 80vw;
		border-radius: 50px;
	}
	.card {
		list-style-type: none;
		background-color: $bkgCard;
		margin: 0.5rem;
		padding: 0.5rem;
		border: 2px solid $borderCard;
		border-radius: 20px;
		min-width: 150px;
		max-width: 175px;

		.titulo {
			display: flex;
			background-color: $bkgTitulo;
			font-size: 1rem;
			font-weight: 600;
			padding: 10px;
			height: 80px;
			border-radius: 20px;
			align-items: center;
			justify-content: center;
		}

		.contenedorImagen {
			height: 250px;
		}
		.info {
			font-size: 0.7rem;
			font-family: "Unica One", cursive;
		}

		.btn {
			width: 100%;
			font-size: 0.8rem;
		}

		.btn-danger {
			display: none;
		}
	}
	.tarjetaIndice {
		list-style-type: none;
		background-color: $bkgCard;
		margin: 0.5rem;
		padding: 0.5rem;
		border: 3px solid $borderCard;
		border-radius: 20px;
		width: 80%;
		max-width: 600px;
		.indice {
			font-size: 1rem;
			margin: 2px;
		}
	}
}
