@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fredoka:wght@300;400&family=Rock+Salt&family=Unica+One&display=swap");
html {
  padding: 0;
  margin: 0;
}
html body {
  background-color: #eeeeee;
  background-image: url(../images/backgroundMain.svg);
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
}

header nav {
  background-color: grey;
}
header .saludo {
  font-family: "Rock Salt", cursive;
  text-shadow: 0 0 15px white, 0 0 10px white, 0 0 5px white;
  letter-spacing: 3px;
}
header .btn-lg {
  text-transform: uppercase;
  font-weight: 600;
  background-color: #a0ffa0;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 5px;
  max-width: 200px;
}
header #logo {
  cursor: pointer;
  height: 70px;
}
header #logoNombre {
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
}

main {
  margin-bottom: 5rem;
}
main #busquedas {
  display: none;
}
main #busquedas input {
  min-width: 300px;
  max-width: 50vw;
  border: 2px solid #000000;
}
main #busquedas input[type=number] {
  -moz-appearance: textfield;
}
main #busquedas input::-webkit-outer-spin-button,
main #busquedas input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main #busquedas .form-floating {
  display: none;
}
main #busquedas .form-floating label {
  top: auto;
  left: auto;
}
main #busquedas .btn {
  text-transform: uppercase;
}
main #btnUp {
  position: fixed;
  bottom: 100px;
  right: 50px;
  display: none;
}
main #contenedor #landingImage {
  max-width: 80vw;
  max-height: 500px;
  border-radius: 50px;
}
main #contenedor .card {
  list-style-type: none;
  background-color: #808080;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid #000000;
  border-radius: 20px;
  min-width: 150px;
  max-width: 175px;
}
main #contenedor .card .titulo {
  font-family: "Fredoka", sans-serif;
  display: flex;
  background-color: #7fffd4;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 10px;
  height: 80px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
main #contenedor .card .contenedorImagen {
  height: 250px;
}
main #contenedor .card .info {
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Unica One", cursive;
}
main #contenedor .card .btn {
  width: 100%;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: black;
}
main #contenedor .card .btn-danger {
  display: none;
}
main #contenedor .tarjetaIndice {
  list-style-type: none;
  background-color: #808080;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 3px solid #000000;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
}
main #contenedor .tarjetaIndice .indice {
  font-size: 1rem;
  margin: 2px;
}
main #contenedor #calendario {
  margin-bottom: 10rem;
  max-width: 1200px;
  width: 80vw;
  max-height: 800px;
  height: 60vh;
  border: 2px solid black;
  border-radius: 2px;
}

footer {
  display: block;
  position: fixed;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: grey;
}/*# sourceMappingURL=styles.css.map */